.loader-container {
    display: flex;
    flex-direction: column;
}

.loader-container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.loader-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.loader-item-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid black;
}

.loader-item-main-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.loader-item-main-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

